DATABASE_URL="mysql://root@localhost:3306/tripbwi_crm"
GEMINI_API_KEY="ur apikey gemini"
PORT=3002
BAILEYS_LOG_LEVEL=debug

# CRM AI Worker Configs
AI_WORKER_INTERVAL=30
AI_BATCH_SIZE=5
AI_BATCH_MAX_SIZE=10
AI_BATCH_TIMEOUT=30
AI_JOB_RETRY_LIMIT=3
AI_DEBOUNCE_MINUTES=15